<div class="editSong__container">
<h1>Edit Song</h1>
<%= render :partial => 'form'%>
<p>To add a song you need to go to the spotify and copy the embed code and paste it inside the <strong>Track</strong> field</p>
</div>