<div class="newSong__container">
<h1>New Song</h1>
<%= render :partial => 'form'%>
<p>To create a song you need to copy the Spotify <strong>Embed code </strong>and paste it to the Track input.</p>
</div>