<div class="homepage__main animate__animated animate__bounceIn">
<h1 class="homepage__mainTitle">Music Box</h1>


<% if @current_user.present? %>
  <h3 class="homepage__mainSubtitle">We are so happy to see you again <%= @current_user.name %></h3>
<% end %>
<div class="homepage__container">
<div class="modal__container">
  <div class="modal">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus similique doloribus laboriosam pariatur, possimus excepturi, impedit odit doloremque recusandae, aliquid optio quasi perspiciatis dolorum tenetur nemo nostrum voluptate non! Doloremque?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, inventore saepe. Neque, doloremque odio consectetur facilis quisquam fugit, illum soluta adipisci cumque, sit dolor nulla ipsam quo porro aliquam iure!</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nesciunt, quas nulla cupiditate in, delectus aliquam nam quis temporibus inventore qui hic accusantium nemo excepturi impedit earum, eaque voluptatibus odit?</p>
  </div>
  </div>
</div>
</div>

